@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
#iniciar h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#iniciar .iniciar-form {
  padding: 50px;
  background: #202e3b;
  color: #f4efef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#iniciar .iniciar-form h3 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
#iniciar .iniciar-form input {
  border: none;
  border-bottom: 1px solid #840607;
  background-color: transparent;
  color: #f7f1f1;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
#iniciar .iniciar-form button {
  width: 100%;
  border-radius: 5px;
  background-color: #840607;
  color: #f7f1f1;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#iniciar .iniciar-form button:hover {
  background-color: #530404;
}

#password h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#password .password-form {
  padding: 50px;
  background: #202e3b;
  color: #f4efef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
#password .password-form h3 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
#password .password-form input {
  border: none;
  border-bottom: 1px solid #840607;
  background-color: transparent;
  color: #f7f1f1;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
#password .password-form button {
  width: 100%;
  border-radius: 5px;
  background-color: #840607;
  color: #fff;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#password .password-form button:hover {
  background-color: #530404;
}

@media only screen and (max-width: 768px) {
  .bk {
    height: 100%;
  }
  #cine .cine-wrap {
    grid-template-columns: 1fr;
  }
  #cine .cine-wrap-bk {
    display: none;
  }
  #cine .cine-wrap-form {
    padding: 0px;
  }
  #iniciar .iniciar-form {
    width: 100%;
    padding: 20px;
  }
  #password .password-form {
    width: 100%;
    padding: 20px;
  }
}
.navbar {
  background-color: #3498db;
  padding: 15px 0;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}
.navbar ul li a:hover {
  background-color: #2ecc71;
}
.navbar ul .menu-image {
  width: 30px;
  height: auto;
}

.menu-toggle {
  position: fixed;
  top: 5px;
  left: 2px;
  background-color: #06142D;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10000; /* Asegurar que el menú esté por delante de las imágenes */
}
.menu-toggle:hover {
  background-color: #530404;
}

#menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  width: 25%;
  background-color: #06142D;
  color: #fff;
  transform: translateY(-50%);
  padding: 300px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegurar que el menú esté por delante de las imágenes */
}

.menu-toggle:checked ~ #menu {
  display: block;
}

.menu_abajo {
  top: 600px;
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical de los botones */
  left: 0;
  width: 100%;
}

body {
  background-color: hwb(214 27% 66%);
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  width: 100%;
  margin-top: 50px;
}

button {
  top: 10px;
  width: 100%;
  border-radius: 5px;
  background-color: #06142D;
  color: #f7f1f1;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #530404;
}

.page-container {
  padding: 20px; /* Espacio alrededor del contenido */
  display: flex; /* Mostrar los elementos en línea (horizontalmente) */
  justify-content: center; /* Centrar los elementos horizontalmente */
  margin-top: 20px; /* Espacio superior para separar el contenedor del título */
  overflow: hidden; /* Ocultar el desbordamiento */
  height: 100vh; /* Establecer la altura del contenedor como el 100% de la altura de la ventana */
}

.carousel {
  display: flex; /* Mostrar las imágenes en línea (horizontalmente) */
  align-items: center; /* Centrar verticalmente las imágenes en la mitad de la pantalla */
  animation: desplazar 20s linear infinite; /* Animación de desplazamieto */
}

.vertical-image {
  margin: 0 10px; /* Margen horizontal entre las imágenes */
  max-height: 300px; /* Establecer la altura máxima para cada imagen */
  width: 200px; /* Ancho fijo para cada imagen */
  border-radius: 10px; /* Agregar bordes redondeados a las imágenes */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agregar sombra a las imágenes */
}

.image2 {
  max-height: 120px; /* Establecer la altura máxima para cada imagen */
  width: 120px; /* Ancho fijo para cada imagen */
  border-radius: 5px; /* Agregar bordes redondeados a las imágenes */
  box-shadow: 0 0 10px rgb(234, 231, 231); /* Agregar sombra a las imágenes */
  position: absolute; /* Posicionamiento absoluto para controlar la posición */
  top: 120px; /* Ajustar la posición vertical según tus necesidades */
  left: 50%; /* Alinear la imagen horizontalmente en el centro del contenedor */
  transform: translateX(-50%); /* Centrar la imagen horizontalmente */
}

@keyframes desplazar {
  0% {
    transform: translateX(0); /* Comienza desde la posición original */
  }
  100% {
    transform: translateX(-400px); /* Se desplaza completamente hacia la izquierda */
  }
  0% {
    transform: translateX(0); /* Comienza desde la posición original */
  }
  100% {
    transform: translateX(-400px); /* Se desplaza completamente hacia la izquierda */
  }
}
.footer-line {
  width: 100%;
  height: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Asap", sans-serif;
}

h1 {
  font-size: 2.441rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.953rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.563rem;
}

h1,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p {
  font-size: 4rem;
}

a,
a:visited {
  text-decoration: none;
  color: #dee1d9;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #f4efef;
  background: #840607;
  padding: 13px 30px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #b5080a;
}

.large {
  font-size: 1.5rem;
}

.small {
  font-size: 0.64rem;
}

.txt-primary {
  color: #f7f1f1;
}

.txt-gray {
  color: #202e3b;
}

.p-80 {
  padding: 80px;
}

.bk {
  background: url("../img/image.jpg");
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

#cine .cine-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*configuración formulario*/
}
#cine .cine-wrap-bk {
  /*configuración imagen de fondo */
  background: url("../img/images.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
}
#cine .cine-wrap-form {
  padding: 50px;
  background: #202e3b;
  color: #f4efef;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#cine .cine-wrap-form input {
  border: none;
  border-bottom: 1px solid #840607;
  background-color: transparent;
  color: #f7f1f1;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
#cine .cine-wrap-form h2,
#cine .cine-wrap-form h3,
#cine .cine-wrap-form p {
  text-align: center;
  margin-bottom: 20px;
}
#cine .cine-wrap-form h2 {
  font-size: 2rem;
}
#cine .cine-wrap-form form p {
  text-align: right;
}
#cine .cine-wrap-form form button {
  width: 100%;
  border-radius: 5px;
  background-color: #840607;
  color: #fff;
  border: none;
  padding: 15px 0;
  font-size: 16px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#cine .cine-wrap-form form button:hover {
  background-color: #530404;
}/*# sourceMappingURL=style.css.map */