// Signup styles
#iniciar {
    h3 {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .iniciar-form {
      padding: 50px;
      background: #202e3b;
      color: #f4efef;
      border-radius: 10px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
      text-align: center;
      width: 50%;
      margin: 0 auto;
  
      h3 {
        text-transform: capitalize;
        margin-bottom: 20px; 
      }
  
      input {
        border: none;
        border-bottom: 1px solid #840607; 
        background-color: transparent; 
        color: #f7f1f1; 
        padding: 10px; 
        width: 100%; 
        margin-bottom: 20px;
        box-sizing: border-box; 
        outline: none; 
      }
  
      button {
        width: 100%;
        border-radius: 5px;
        background-color: #840607; 
        color: #f7f1f1; 
        border: none;
        padding: 15px 0; 
        font-size: 16px; 
        font-family: 'Asap', sans-serif; 
        cursor: pointer;
        transition: background-color 0.3s ease; 
  
        &:hover {
          background-color: darken(#840607, 10%); 
        }
      }
  
    } //End .iniciar-form
  } //End #iniciar
  