// Mobile
@media only screen and (max-width: 768px) {
    // Utility Classes
    .bk{
      height: 100%;
    }
  
    // Cine
    #cine {
      .cine-wrap {
        grid-template-columns: 1fr;
        &-bk {
          display: none;
        }
        &-form {
          padding: 0px;
        }
      } //End .cine-wrap
    } //End #cine
  
    // Signup styles
  #iniciar {
    .iniciar-form {
      width: 100%;
      padding: 20px;
    } //End .iniciar-form
  } //End #iniciar
  
  
  #password {
    .password-form {
      width: 100%;
      padding: 20px;
    } //End .password-form
  } //End #password
  
  } //End @media