@import 'iniciar';
@import 'password';
@import 'mobile';
@import 'menu';
@import 'menuInicio';
@import 'contenido';


// Import
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
$light-color: #f7f1f1;
$dark-color: #840607;
$gray-color: #202e3b;
$main-font: 'Asap', sans-serif;

// Reset 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Main Styling
body,
html {
  font-family: $main-font;
}

h1 {
  font-size: 2.441rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.953rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.563rem;
}

h1,
h3 {
  font-weight: 600;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p {
  font-size: 4rem;
}

a,
a:visited {
  text-decoration: none;
  color: #dee1d9;
}

// Utility Classes
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  color: #f4efef;
  background: $dark-color;
  padding: 13px 30px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: lighten($dark-color, 10%);  
}

.large {
  font-size: 1.5rem;
}

.small {
  font-size: 0.64rem;
}

.txt-primary {
  color: $light-color;
}

.txt-gray {
  color: $gray-color;
}

.p-80 {
  padding: 80px;
  // padding-top: 150px;
}

.bk{
  background: url('../img/image.jpg');
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

// Cine
#cine {
  .cine-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-bk {
  /*configuración imagen de fondo */
      background: url('../img/images.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 100%;
    }
    /*configuración formulario*/
    &-form {
      padding: 50px;
      background: #202e3b;
      color: #f4efef;
      border-radius: 10px; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 

      input {
        border: none;
        border-bottom: 1px solid $dark-color; 
        background-color: transparent;
        color: $light-color; 
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        outline: none; 
      }
    
      h2,
      h3,
      p {
        text-align: center;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 2rem; 
      }
    
      form {
        p {
          text-align: right;
        }
        button {
          width: 100%;
          border-radius: 5px;
          background-color: $dark-color; 
          color: #fff; 
          border: none;
          padding: 15px 0; 
          font-size: 16px; 
          font-family: 'Asap', sans-serif;

          cursor: pointer;
          transition: background-color 0.3s ease;
        }
        button:hover {
          background-color: darken($dark-color, 10%); 
        }
      } //End form
    } //End &-form
  } //End .cine-wrap
} //End #cine